<ion-header>
    <ion-toolbar>
        <ion-title>allmovies Show</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <h3>{{ movie.name }}</h3>
        <p>{{ movie.year }}</p>
        <ion-item button *ngFor="let item of (results | async)" (ionChange)="searchChanged($event)">
            <ion-label text-wrap>
                <h3>{{ movie.name }}</h3>
                <p>{{ movie.year }}</p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>