<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic 4 Example App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <p>Data will be presented here...</p>

        <ion-list>
            <ion-item *ngFor="let movie of data">
                <ion-label>{{movie.name}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-button [routerLink]="['/allmovies']">click this</ion-button>
            </ion-item>
        </ion-list>



        <ng-template #errorContent>
            <p><span style="color: red;">{{error}}</span></p>
        </ng-template>
    </div>
</ion-content>